/*Style sheet for dylands thingamadoohicker*/
/*global style*/
body{
    
}
.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
div#container{
       margin: auto;
    width: 1024px;
    background-color: #00838F;
}
header{
    display:block;
    width: 100%;
    background-color: #80DEEA;
    height: 150px;
    margin: 0;
    padding: 0;
    background-image: url(../iMagEs/ice.jpg);
    background-position: center;
    background-size: cover
    
}
header h1 {
    color: #00838F;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-top: 75px;
    font-size: 60px;
}
nav{
    background-color: #FFD54F;
    margin: 0px;
    padding: 0px;
    width: 100%;
    clear: both;
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #18FFFF ;
    
}
nav ul li{
    float: left;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: blue;
    text-align: center;
    padding: 14px 16px;
}
nav ul li a:hover{
    background-color: #18FFFF;
    border: 1px solid purple;
}
nav .active{
    background-color: #18FFFF;
    border: 1px blue solid;
}
#content{
    width: 100%;
    clear: both;
     
}
#shoppic{
    width: 90%;
    margin: 4%;
    border: 10px outset blue;
}
footer{
    width: 100%;
    background-color: #18FFFF;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000000; 
}
/*index style*/
h2{
    float: left;
    width: 100%;
    color: #FF6F00;
    text-shadow: 1px 1px 1px black;
    margin-left: 10px
        
}
#candypic{
    display: block;
    width: 95%;
    margin: 10px;
    float: left;
    background-color: cornflowerblue;
    border-left: 15px outset blue;
    border-right: 15px inset blue;
    border-top: 15px inset blue;
    border-bottom: 15px outset blue;
    clear: both;
}
#pmain{
    float: left;
}
.keepOpen{
    clear: both;
}
figure{
    border: 2px blue outset;
    box-shadow: 1px 1px 2px black;
    background-color: #18FFFF;
    width: 250px;
    float: left;
    margin: 10px 15px; 
    flex: 0 0 30%;

}
figure img{
    display: block;
    width: 200px;
    height: 150px;
    margin: 10px auto;
    border: 2px inset blue;
        
}
figcaption{
    text-align: center;
    margin-bottom: 10px;
/*    font-family: sans-serif;*/
}
#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    background-color: cadetblue;
} 
#contact{
    margin: 15px;
}